.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.errorHighlight {
    color: red !important;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-style: oblique;
}

.myGlyphMarginClass {
    background: red;
}

a.customlink {
    outline: none;
    text-decoration: none;
    font-size: 10px;
}

a:link.customlink {
    color: rgb(16 121 195);
    border-bottom: 1px dotted;
}

a:visited.customlink {
    color: rgb(16 121 195)
}

a:focus.customlink, a:hover.customlink {
    border-bottom: 1px solid;
}

a:active.customlink {
    color: rgb(16 121 195);
}
